:root{

    --bg-primary:#FFFFFF;
    --bg-secondary: #151414;

    --text-primary: #A7A7A7;
    --text-secondary: #121212;
    --text-tertiary: #EF3054;


    --success: #0CCE6B;
    --warning: #F8C537; 
    --error: #ED254E;

    --shadow: 0px 2px 6px 0px rgba(136, 136, 136, 0.331);
}

::-webkit-scrollbar{
    width: 6px;
}

::-webkit-scrollbar-track{
    background: transparent;
}

::-webkit-scrollbar-thumb{
    background-color: rgba(61, 61, 61, 0.347);
    border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover{
    background-color: rgba(0,0,0,0.55);
}




*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    text-align: justify;
    word-break: break-all;
}
html, body, #root{
    height: 100%;
    height: 100dvh;
}
    body, #root{
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        min-height: 100dvh;
    }



main {
    min-height: 100vh;
    min-height: 100dvh;

    .hero {
        position: relative;
        top: 0;
        height: 100vh;
        border: 1px solid black;
        display: flex;
        width: 100%;

        overflow: hidden;

        .BOX{
            position: absolute;
            top: 0;
            z-index: 1;
            height: 100%;
            width: 70%;

            // border: 1px solid red;

            display: flex;
            padding: 12px;

            .card{
                // border: 1px solid red;

                &:nth-child(1){
                    padding: 8px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    gap: 1rem;
                    
                    .box{
                        // border: 1px solid red;

                        &:nth-child(1), &:nth-child(3){
                            display: flex;
                            justify-content: center;
                            
                            p{
                                animation: fade_text 1.5s ease-in-out;
                                font-size: 1.5rem;

                                font-family: "Inter";
                                font-weight: 500;
                                color: var(--text-primary);
                            }
                        }

                        &:nth-child(2){
                            animation: slider 1.5s ease-in-out;
                            height: 85%;
                            display: flex;
                            justify-content: center;

                            .slider{
                                padding: 2px;
                                border-radius: 100px;
                                background-color: var(--text-primary);
                            }
                        }
                    }
                }

                &:nth-child(2){
                    flex-grow: 1;
                    padding: 70px 0px 70px;

                    border: 1px solid red;

                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    
                    .card-content{
                        border: 1px solid red;
                        padding-left: 30px;
                        padding-right: 30px;

                        &:nth-child(1){
                            display: flex;
                            gap: 1rem;

                            p{
                                font-size: 3rem;
                            }

                            .COUNTER{
                                display: flex;

                                // border: 1px solid red;

                                .COUNTER-CONTENT{
                                    // border: 1px solid red;

                                    p{
                                        .count-heading{
                                            font-family: "Inter";
                                        }
                                        .count-subtext{
                                            font-size: 1.5rem;
                                            font-family: "Inter";
                                        }
                                    }
                                }
                            }
                        }

                        &:nth-child(2){
                            flex-grow: 1;
                        }
                    }

                }
            }
        }

        .CARD{
            animation: fade_in 0.5s ease-in;


            position: absolute;
            right: 0;
            bottom: 0;

            width: 900px;
            transform: translateY(180px);
            
            img{
                width: 100%;
                height: auto;
            }
        }
    }
}
@keyframes fade_in{
    from{
        opacity: 0%;
    }
    to{
        opacity: 100%;
    }
}
@keyframes slider{
    from{
        height: 0%;
        opacity: 20%;
    }
    to{
        height: 85%;
        opacity: 100%;
    }
}
@keyframes fade_text{
    from{
        opacity: 20%;
    }
    to{
        opacity: 100%;
    }
}



@media(max-width: 1023px){
    main{
        .hero{
            .BOX{
                width: 100%;
            }

            .CARD{
                visibility: hidden;
            }
        }
    }
}

@media(max-width: 500px){
    main{
        .hero{
            .BOX{
                .card{

                    &:nth-child(1){
                        padding: 8px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        gap: 10px;
                        
                        .box{
                            // border: 1px solid red;

                            &:nth-child(1), &:nth-child(3){
                                p{
                                    font-size: 1rem;
                                }
                            }

                            &:nth-child(2){
                                .slider{
                                    padding: 1px;
                                }
                            }
                        }
                    }

                    &:nth-child(2){
                        .card-content{
                            padding-left: 20px;
                            padding-right: 0px;

                            &:nth-child(1){
                                // p{
                                //     transition: 0.3s ease-in-out;
                                //     font-size: 1.5rem;
                                // }

                                .COUNTER{
                                    .COUNTER-CONTENT{
                                        p{
                                            .count-symbol{
                                                font-size: 1rem;
                                            }
                                            .count-heading{
                                                font-size: 1.5rem;
                                            }
                                            .count-subtext{
                                                font-size: 0.8rem;
                                            }
                                        }
                                    }
                                }
                            }


                        }
                    }

                }
            }
        }
    }
}

// @keyframes fade_out{
//     from{
//         opacity: 0;
//     }
//     to{
//         opacity: 100%;
//     }
// }





// .img1{
//     background: url('./assets/sample-img1.webp');
//     min-height: 100%;
// }

// .img2{
//     background: url('./assets/sample-img2.webp');
//     min-height: 60%;
// }

// .img3{
//     background: url('./assets/sample-img3.png');
//     min-height: 100%;
// }

// .img1, .img2, .img3{
//     position: relative;
//     opacity: .85;
//     background-position: center;
//     background-size: cover;
//     background-attachment: fixed;
//     background-repeat: no-repeat;
// }

// section{
//     padding: 50px 80px;
// }
// .heading{
//     position: absolute;
//     top: 50%;
//     font-size: 650%;
//     text-shadow: 0 0 15px #000;
//     width: 100%;
//     text-transform: uppercase;
//     letter-spacing: 8px;
// }

// @media(max-width: 768px){
//     .heading{
//         font-size: 250%;
//     }
//     h1{
//         font-size: 95%;
//     }
//     p{
//         font-size: 90%;
//     }
// }



















// main{
//     width: 100%;
//     display: flex;
//     flex-direction: column;
//     flex-grow: 1;
//     height: 0;

//     border: 1px solid red;

    
// }


// @media(max-width: 500px){
//     main{
//         section{
//             &.section1{
//                 .box{
//                     &:nth-child(2){
//                         display: none;
//                     }
//                 }
//             }
//         }
//     }
// }
